.menu-header-wrapper {
  .navbar {
    background: linear-gradient(90.02deg, #142748 -28.57%, #115EE4 99.98%);
    padding-left: 70px;
    height: 65px;
  }
}
.menu-r {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: end;
  align-items: center;
}
