<app-modal-cmp [toggle]="loading">
  <div class="d-flex justify-content-center align-items-center" style="height: 350px;"><app-loader></app-loader></div>
</app-modal-cmp>

<app-page-header [userName]="api.getProfile('name')" info="Bienvenido a tu Dashboard."></app-page-header>

<div class="page-wrapper animate__animated animate__fadeIn">

  <div class="container">
    <div class="row mb-4">
      <div class="col">
        <div class="box top-group">
          <h5 class="fw-normal">Prestadores:</h5>
          <h5 class="fw-normal mt-5 w-100 text-end">{{stats.customersList}}</h5>
        </div>
      </div>

      <div class="col">
        <div class="box top-group active">
          <h5 class="fw-normal">Turnos actuales</h5>
          <p>Periodo: {{stats.periodCurrent}}</p>
          <p class="mb-0" style="font-size: 1.2em;">{{stats.shiftsCurrent}} Turnos</p>
        </div>
      </div>

      <div class="col">
        <div class="box top-group">
          <h5 class="fw-normal">Turnos anteriores</h5>

          <table class="table">
            <tbody>
              <tr *ngFor="let a of stats.shiftsBefore">
                <td>{{a.name}}</td>
                <td>{{a.qty}} turnos</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
    <div class="row align-items-stretch" style="height: 350px;">
      <div class="col">
        <div class="box h-100">
          <p>Usuarios por Profesión</p>

          <div class="tab-list">
           <div class="tab bg-primary text-white" *ngFor="let p of stats.usersByJobs">
              <div class="row h-100 align-items-center">
                <div class="col">{{p.name}}</div>
                <div class="col-4">
                  <div class="d-flex align-items-center">
                    <img src="assets/svg/icon-user.svg" class="me-3" alt="icono usuario">
                    {{p.qty}}
                  </div>
                </div>
              </div>
            </div>
          </div>

        </div>
      </div>
      <div class="col">
        <div class="box h-100 active" hidden>
          <p>Usuarios por ubicación</p>

          <div class="tab-list">
            <div class="tab bg-white text-primary" *ngFor="let l of stats.usersByLocation">
              <div class="row h-100 align-items-center">
                <div class="col">{{l.name}}</div>
                <div class="col-4">
                  <div class="d-flex align-items-center">
                    <img src="assets/svg/icon-pin.svg" class="me-3" alt="icono usuario">
                    {{l.qty}}
                  </div>
                </div>
              </div>
            </div> 
          </div>
        </div>
      </div>
    </div>
  </div>

</div>
