<app-modal-cmp [toggle]="loading">
  <div class="d-flex justify-content-center align-items-center" style="height: 350px;"><app-loader></app-loader></div>
</app-modal-cmp>

<app-page-header [userName]="api.getProfile('name')" info="Bienvenido a tu Dashboard."></app-page-header>

<div class="page-wrapper animate__animated animate__fadeIn">

  <div class="container">
    <div class="row mt-2">
      <div class="col">
        <h3>Tús envios</h3>
      </div>
    </div>
    <div class="row mb-4">
      <div class="col">
        <div class="box top-group">
          <h5 class="fw-normal">Todos tus envíos:</h5>
          <h3 class="fw-normal mt-4 w-100 text-end">0</h3>
        </div>
      </div>

      <div class="col">
        <div class="box top-group">
          <h5 class="fw-normal">Entregados:</h5>
          <h3 class="fw-normal mt-4 w-100 text-end">0</h3>
        </div>
      </div>

      <div class="col">
        <div class="box top-group">
          <h5 class="fw-normal">En tránsito:</h5>
          <h3 class="fw-normal mt-4 w-100 text-end">0</h3>
        </div>
      </div>

      <div class="col">
        <div class="box top-group">
          <h5 class="fw-normal">No entregados:</h5>
          <h3 class="fw-normal mt-4 w-100 text-end">0</h3>
        </div>
      </div>

      <!-- <div class="col">
        <div class="box top-group active">
          <h5 class="fw-normal">Turnos actuales</h5>
          <p>Periodo: {{stats.periodCurrent}}</p>
          <p class="mb-0" style="font-size: 1.2em;">{{stats.shiftsCurrent}} Turnos</p>
        </div>
      </div> -->

      <!--
      <div class="col">
        <div class="box top-group">
          <h5 class="fw-normal">Turnos anteriores</h5>

          <table class="table">
            <tbody>
              <tr *ngFor="let a of stats.shiftsBefore">
                <td>{{a.name}}</td>
                <td>{{a.qty}} turnos</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
      -->
    </div>
    <div class="row mt-5">
      <div class="col">
        <h3>Retiros</h3>
        <div class="row mb-4">
          <div class="col">
            <div class="box top-group">
              <h5 class="fw-normal">Pendientes:</h5>
              <h3 class="fw-normal mt-4 w-100 text-end">0</h3>
            </div>
          </div>
    
          <div class="col">
            <div class="box top-group">
              <h5 class="fw-normal">Por despachar:</h5>
              <h3 class="fw-normal mt-4 w-100 text-end">0</h3>
            </div>
          </div>
    
        </div>
      </div>
      <div class="col">
        <h3>Finanzas</h3>
        <div class="row mb-4">
          <div class="col">
            <div class="box top-group">
              <h5 class="fw-normal">Crédito disponible:</h5>
              <h3 class="fw-normal mt-4 w-100 text-end">$ 10.000.000</h3>
            </div>
          </div>
    
          <div class="col">
            <div class="box top-group">
              <h5 class="fw-normal">Monto por pagar:</h5>
              <h3 class="fw-normal mt-4 w-100 text-end">$ 0</h3>
              <p class="text-end">
                <a href="#">Revisar</a>
              </p>
            </div>
          </div>
      </div>
    </div> 
  </div>

</div>
