.entry-system-wrapper {
  background: url('../../../assets/images/fondologin.jpeg');
  background-size: cover;
  background-position: center;
  height: 100vh;
  padding: 3em 0;
}
.banner-text {
  color: #ffffff;
  font-size: 1.25em;
}
.box-wrapper {
  width: 100%;
  background-color: #ffffff;
  border-radius: 20px;
  box-shadow: 0px 4px 15px 5px rgba(0, 0, 0, 0.1);
  padding: 3em 2em;
}
.logo_login {
  max-width: 300px;
  background-color: #FFF;
  padding: 10px;
  border-radius: 20px;
}