<div class="entry-system-wrapper">
  <div class="container h-100">
    <div class="row h-100 gx-5">
      <div class="col h-100 d-flex flex-column justify-content-center">
        <h1><img class="logo_login" src="assets/images/logo_horizontal.png" alt=""></h1>
        <div class="banner-text mt-3">
          <h2 class="text-white">Bienvenido a nuestra plataforma</h2>
          <p class="d-none d-sm-block">Gestiona tus envíos a través del nuevo N-clientes</p>
        </div>
      </div>
      <div class="col w-100 h-100 d-flex align-items-center">
        <div class="box-wrapper">
          <router-outlet></router-outlet>
        </div>
      </div>
    </div>
  </div>
</div>
