.table-cmp {
  &--setting {
    .table-cmp__row {
      padding: 0 5em;
      .table-cmp__col {
        overflow: hidden;
        text-overflow: ellipsis;
        width: 100%;
        white-space: nowrap;
     }
    }
  }
}

.checkbox-wrapper {
  display: inline-flex;
  height: .75em;
}


ul {
  &.actions {
    list-style: none;
    padding: 0;
    margin: 0;
    align-items: center;
    justify-content: end;
    display: flex;
    align-items: center;
    gap: 1.5em;
    li {
      cursor: pointer;
    }
  }
}

.pelota {
  background-color:#14A77E;
  color:#FFF;
  font-size: 15px;
  text-align: center;
  padding: 10px 15px;
  font-size: 20px;
  border-radius: 50%; 
  margin-right: 10px;
  display:inline-block;
}
.result-cotizador {
  max-width: 350px;
  background-color:#66cab2;
  padding: 25px;
  color:#FFF;
  border-radius: 20px;
  border: 1px solid #00a77f;
}