<app-modal-cmp [toggle]="loading">
  <div class="d-flex justify-content-center align-items-center" style="height: 350px;"><app-loader></app-loader></div>
</app-modal-cmp>

<h3>Recuperar contraseña</h3>
<p class="mb-4">Por favor ingrese sus datos para recuperar contraseña.</p>

<div class="field-control">
  <label for="" class="form-label">Email</label>
  <input type="email" class="form-control" id="" placeholder="Ingrese su email">
</div>

<button
  type="button"
  (click)="recoverPassword()"
  class="btn btn-primary btn-cmp w-100">Recuperar contraseña</button>

  <p class="text-center mb-5 mt-3">
    <a [routerLink]="['/login']">Regresar</a>
  </p>