<div class="modal fade" [ngClass]="{'show d-block': show}" tabindex="-1">
  <div class="modal-dialog modal-dialog-centered animate__animated animate__fadeInDown animate__faster" style="min-width: 650px;">
    <div class="modal-content rounded-4">
      <div class="modal-header border-0 bg-primary">
        <h5 class="modal-title text-white" *ngIf="edit">Editar Unidad</h5>
        <h5 class="modal-title text-white" *ngIf="!edit">Agregar Unidad</h5>
        <button type="button" class="btn btn-link text-white" (click)="close()">
          <fa-icon [icon]="faXmark" size="lg"></fa-icon>
      </button>
      </div>
      <div class="modal-body py-4">

        <div class="row justify-content-center">
          <div class="col-9">
            <form #formUnidad="ngForm" (ngSubmit)="addUnidad()">
              <div class="field-control">
                <label class="form-label">Nombre Unidad</label>
                <div class="input-group mb-3">
                  <input [disabled]="edit && !editable" type="text" class="form-control border-end-0" placeholder="Ingrese nombre" name="name" [(ngModel)]="job.name">
                </div>
              </div>
            

              <div class="d-flex justify-content-center gap-3 px-5">
                <button type="button" (click)="close()" class="btn btn-outline-primary w-50">Volver</button>
                <button *ngIf="!edit" type="submit" [disabled]="job.name==''" class="btn btn-primary w-50">Agregar</button>
                <button *ngIf="edit && editable" [disabled]="job.name==''" type="submit" class="btn btn-primary w-50">Editar</button>
              </div>
            </form>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>
